@import url('https://fonts.googleapis.com/css2?family=Klee+One&family=Noto+Serif&display=swap');

/*CSS Reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #22A39F;
    font-family: 'Noto Serif', serif;
    color: #222222;
}

#my-avatar{
    width: 150px;
    border-radius: 50%;
}
#content{
    text-align: center;
}

#my-name{
    font-family: 'Klee One', cursive;
    color: #434242;
}