@import url('https://fonts.googleapis.com/css2?family=Klee+One&family=Noto+Serif&display=swap');

/*CSS Reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100vh;
    width: 100vw;
    position: relative;
}

body{
    background-color: #F3EFE0;
    font-family: 'Noto Serif', serif;
    color: #222222;
}


#my-avatar{
    width: 150px;
    border-radius: 50%;
}
#content{
    text-align: center;
}

#my-name{
    font-family: 'Klee One', cursive;
    color: #22A39F;
}

#left-side{
    display: inline-block;
    width: 50%;
}

#right-side{
    display: inline-block;
    width: 49%;
    text-align: right;
}

a{
    color: #222222;
    text-decoration: none;
    border-bottom: 1px dotted #222222;
}

header{
    margin-top: 18px;
}

.nav-link{
    margin-left: 30px;
}

footer{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 16px;
}
footer a:first-child{
    margin-right: 16px;
}

#content div{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}