@import url('https://fonts.googleapis.com/css2?family=Klee+One&family=Noto+Serif&display=swap');

/*CSS Reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100vh;
    width: 100%;
    position: relative;
}

body{
    background-color: #F3EFE0;
    font-family: 'Noto Serif', serif;
    color: #222222;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
}
#my-avatar{
    width: 150px;
    border-radius: 50%;
}
#content{
    text-align: center;
    height: 100%;
}

#my-name{
    font-family: 'Klee One', cursive;
    color: #22A39F;
}

#left-side{
    display: flex;
    flex-direction: row;
    column-gap: 16px;
} 


#right-side{
    /* position: absolute;
    top: 16px;
    right: 16px;*/
} 

a{
    color: #36325c;
    text-decoration: none;
}

footer{
    position: absolute;
    bottom: 0;
     width: 100vw; /* vw - viewport width  */
     padding: 16px;
}
footer > section{
    /* position: absolute;
    bottom: 16px; */
    /* left: 50%;
    transform: translateX(-50%); */
    display: flex;
    justify-content: space-around;
}
footer a:first-child{
    margin-right: 16px;
}

#content div{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Projects Page */

#hero-banner{
    background: linear-gradient(90deg, lightgreen, green, rgb(3, 255, 3));
    padding-top: 16px;
    padding-bottom: 16px;
}

#hero-banner > div{
    width: 50%;
    margin: 0 auto;
}

#hero-banner > div > div{
    display: inline-block;

}
#hero-banner h1,
#hero-banner h2{
    color: white;
}
h3{
    text-align: center;
    font-size: 32px;
}